.peopleBlock {
    display: flex;
    flex-direction: row;
    margin: 5px;
    width: 200px;
    justify-content: space-between;
    border: 1px solid #000000;
    padding: 3px;
    background: #cbc6c6;
}

.nameBlock {

}

.ageBlock {

}

.buttonBlock {
    display: flex;
    margin: 5px;
    width: 205px;
    justify-content: space-between;
}